.section_project {
    padding: 10px;
    background: $color-brend;
}

.project__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.ul_project {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 25px;
}

.link_project {
    list-style: none;
    padding: 10px;
}

.exsemple_project {
    text-decoration: none;
    color: $color-style;
}

.exsemple_project:hover {
    color: $color-backround;
}